<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.reve.sample.SampleUserMapper">
  <select id="findAll" resultType="com.reve.sample.SampleUser">
      select * from reve.users
  </select>
  <insert id="insertUser"  parameterType="com.reve.sample.SampleUser">
       INSERT INTO reve.users(id, username, password, job) VALUES ((select MAX(id) + 1 from reve.users),#{username},#{password},#{job})
  </insert>
</mapper>